.add-item-form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;

  .inputs-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;

    .item-image-wrapper {
      position: relative;
      width: 288px;
      height: 212px;
      overflow: hidden;

      display: flex;
      align-items: center;
      justify-content: center;

      .item-image-label {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: $gray-300;
        cursor: pointer;
        width: 100%;
        height: 100%;

        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .delete-image-button {
        width: 20px;
        height: 20px;
        position: absolute;
        background-color: $transparent-black;
        border-radius: 3px;
        top: 10px;
        right: 10px;
        z-index: 2;
        cursor: pointer;

        &::before,
        &::after {
          content: "";
          height: 2px;
          width: 100%;
          background-color: $white;
          position: absolute;
          top: 45%;
        }

        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }

      .item-image-input {
        display: none;
      }

      .item-image-preview {
        position: absolute;
        width: 288px;
        height: 212px;
      }
    }

    .item-info-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 212px;
      gap: 16px;

      .item-title {
        width: 328px;
      }
      .item-description {
        resize: none;
        width: 418px;
      }

      @media (max-width: 1000px) {
        .item-title,
        .item-description {
          width: 100%;
        }
      }
    }

    .item-image-wrapper,
    .item-title,
    .item-description {
      font-family: "Roboto", sans-serif;
      border: 2px solid $gray-100;
      border-radius: 8px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      padding: 16px;
    }
  }

  .add-button {
    padding: 16px 20px;
    background: $button-color;
    border: 1px solid $button-color;
    box-sizing: border-box;
    border-radius: 8px;
    color: $white;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
  }

  @media (max-width: 1000px) {
    .item-info-wrapper {
      width: 100%;
    }
    .add-button {
      width: 100%;
    }
  }
}
