.add-item-section {
  padding: 48px 130px 0;

  .add-item-title {
    font-weight: 700;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 32px;
  }
}

@media (max-width: 840px) {
  .add-item-section {
    padding: 16px;
  }
}
